body{
  background-color: #ffc107;
  font-family: 'Dancing Script', cursive;
}
.outer-box {
  width:1430px;
  height:660px;
  border:2.5px solid #000;
   padding:20px; 
   margin:20px; 
   display:flex;
   justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #101820;

}
.container{
  top:5%;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}


.inner-box {
  width:300px;
  border:2px solid #000;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin :500px;
  box-shadow: 0 0 80px rgba(0,0,0,0.2);
  background-color: #ffc107;
}

.level {
  text-align: center;
  font-size: 27px;
  text-shadow:  0 0 10px rgba(244, 238, 238, 0.2);;
}
@keyframes blink {
  0%{opacity:1;}
  50%{opacity:0;}
  100%{opacity:1;}
}
.blink {
  animation: blink 1s infinite;
}

.counter {
  text-align: center;
  line-height:0.8;
  text-shadow:0 0 80px rgba(0,0,0,0.2);;
} 
.btn-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btn{
  margin: 0 10px;
  border:2px solid #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #101820;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #ffc107;
  font-family: 'Dancing Script', cursive;
}

.btn:hover {
  background-color: #ffc107;
  color: #101820;
  font-size: 16px;
}

.icon {
  color: #ffc107;
  font-size: 4px;
  margin-left: 6px;
}

.icon:hover {
  color:#101820
}
 /* @media screen and (min-width: 1264px) {
  .outer-box {
    max-width: 100%;
    height: 400px;
  }

  .inner-box {
    padding:30px;
  }
} 
 @media screen and (min-width: 998px) {
.outer-box {
  max-width: 800px;
  height: 500px;
}  

.inner-box {
  padding: 40px;
}}  */



